<!DOCTYPE html>
<html>
  <head>
    <title>Space Zx Simulator</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#news">Rockets</a>
      <a href="#contact">Engineers</a>
      <a href="#about">Pilots</a>
      <a href="#about">Login</a>
    </div>
    <%= yield %>
  </body>
</html>
