<!DOCTYPE html>
<html>
  <head>
    <title>Space Zx Simulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
          <div id="home-box"></div>
          <div id="rocket-box"></div>
          <div id="pilot-box"></div>
          <div id="engineer-box"></div>
          <div id="button-words"><a data-animation="ripple">Space <span style="font-weight: bold;">Home</span></a></div>
          <div id="button-words"><a data-animation="ripple">Rockers</a></div>
          <div id="button-words"><a data-animation="ripple">Pilots</a></div>
          <div id="button-words"><a data-animation="ripple">Engineers</a></div>
          <div class="container">

</div>
    </div>
    <%= yield %>
  </body>
</html>
