<li>Rocket: <%= rocket.name %></li>
<li>Engineers: <% rocket.engineers.each do |engineer| %>
  <%= engineer.first_name %> <%= engineer.last_name %>
<% end %></li>
<li>Pilot: <%= rocket.pilot.first_name %> <%= rocket.pilot.last_name %></li><br>
