<a href=" " class="js-next" data-id="<%=@rocket.id%>">Next Rocket</a>
<h1 class="rocketName"><%= @rocket.name %></h1>
<p class="rocketSpeed"><%= @rocket.top_speed %></p>
<p class="rocketCapacity"><%= @rocket.capacity %></p>
<p class="rocketPilot"><%= @rocket.pilot.last_name %></p>
